<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Monitor PI</title>
    <link rel="stylesheet" type="text/css"
   href="{{ url_for('static', filename='style.css') }}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div id="content">
    <h1>Temperature Monitor PI</h1>

    <div class="data-content">
        <h2>CPU Temperature</h2>
        <div class="data-row">
            <div class="data-cell" id="cpu_temp">
                ...
            </div>
        </div>
    </div>

    <div class="data-content">
        <h2>Temperature</h2>
        <div class="data-row">
            <div class="data-cell" id="tempC">
                ...
            </div>
        </div>
    </div>

    <div class="data-content">
        <h2>Humidity</h2>
        <div class="data-row">
            <div class="data-cell" id="humidity">
                ...
            </div>
        </div>
    </div>

    <div class="graph-content">
      <canvas id="Chart"></canvas>
      <script>
        var ctx = document.getElementById("Chart").getContext("2d");
        var chart = new Chart(ctx, {
          type: "line",
          data: {
            labels: {{ labels | safe }},
            datasets: [
              {
                label: "Temp",
                data: {{ values | safe }},
                fill: true,
                borderColor: "rgb(121, 220, 123)",
                color: "#006902",
                lineTension: 0.5
              }
            ]
          },
          options: {
            responsive: true
          }
        });
      </script>
    </div>


</div>


<script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
